    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    {%- comment -%}store dates{%- endcomment -%}
    {%- assign dates = "" | split: "," -%}
    {%- comment -%}Sort of an Associative Array, using one for keys and another with kv "string pairs"{%- endcomment -%}
    {%- comment -%}store categories{%- endcomment -%}
    {%- assign cats = "" | split: "," -%}
    {%- comment -%}store titles{%- endcomment -%}
    {%- assign titles = "" | split: "," -%}
    {%- comment -%}store titles,categories,links{%- endcomment -%}
    {%- assign catlinks = "" | split: "|" -%}
    {%- if titles_size > 0 -%}
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
          {%- assign path_elems = my_page.url | relative_url | split: "/" -%}
          {%- assign cat = path_elems[-2] -%}
          {%- assign curcat = cat | split: "," -%}
          {%- assign rurl = my_page.url | relative_url -%}
          {%- capture href -%}<a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>{%- endcapture -%}
          {%- assign title_elems = my_page.title | split: ":" -%}
          {%- capture date -%}{{ title_elems[0] | replace: "Worklog - " "" | replace: "-" "_"}}{%- endcapture -%}
          {%- assign curdate = date | split: "," -%} 
          {%- assign dates = dates | concat: curdate -%}
          {%- capture entry -%}{{date}},{{cat}},{{href}}{%- endcapture -%}
          {%- assign entries = entry | split: "|" -%}
          {%- assign catlinks = catlinks | concat: entries -%}
          {%- assign cats = cats | concat: curcat | uniq -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    <p>
    {%- for date in dates | sort_natural -%}
    date: {{ date }}<br/>
    {%- endfor -%}
    </p>
    <p>
    {%- for entrystr in catlinks | sort -%}
    entrystr: {{ entrystr }}<br/>
    {%- endfor -%}
    </p>
    <p>Other Articles</p>
    {%- for cat in cats -%}
      <ul><li>{{cat | upcase }}</li>
          <ul>
      {%- for entrystr in catlinks | sort -%}
        {%- assign entry = entrystr | split: "," -%}
        {%- if entry[1] == cat -%}
            <li>{{ entry[2] }}</li>
        {%- endif -%}
      {%- endfor -%}
          </ul>
      </ul>
    {%- endfor -%}
